<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962797678906-ov423p2penol51ckmtmtv89fqjc0so5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962797678906-ov423p2penol51ckmtmtv89fqjc0so5c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>962797678906-q5nibpqib9uvml664a2j2ls0i4js9mbb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBe5ISKbfyXQ8u4AQvqZMmy5mHy7myjc8I</string>
	<key>GCM_SENDER_ID</key>
	<string>962797678906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryjovs.expansion.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>space-expansion-8ac9a</string>
	<key>STORAGE_BUCKET</key>
	<string>space-expansion-8ac9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962797678906:ios:d2946eef9b20f6c4dce003</string>
</dict>
</plist>