<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847683646254-47eov3fcbg1q2e82cpldn3io8m0g4rsg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847683646254-47eov3fcbg1q2e82cpldn3io8m0g4rsg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>847683646254-68po48b4niamtob1mh36snjf5l81im2f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAx1pmhTAsFiq965gZAkuzzT1oQztz8iDk</string>
	<key>GCM_SENDER_ID</key>
	<string>847683646254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expansion.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>expansion-1e30e</string>
	<key>STORAGE_BUCKET</key>
	<string>expansion-1e30e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847683646254:ios:de776e811aa6451d2300bf</string>
</dict>
</plist>